<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.mapper.BoardMapper">

	<select id="selectList" resultType="board">
		select board_no,
		title,
		content,
		view_count,
		writer,
		creation_date
		from tb1_board
		order by board_no
		desc
	</select>

	<insert id="insertBoard" parameterType="board">
		insert into
		tb1_board(board_no, title, content, writer, image)
		values
		(board_seg.nextval, #{title},#{content}, #{writer}, #{image})
	</insert>

	<update id="updateBoard" parameterType="board">
		update tb1_board
		<set>
			<if test="title != null">
				title = #{title}
			</if>
			<if test="content != null">
				,content = #{content}
			</if>
		</set>
		where board_no = #{boardNo}
	</update>

	<delete id="deleteBoard" parameterType="int">
		delete from tb1_board
		where board_no = #{boardNo}
	</delete>

	<select id="selectBoard" parameterType="int" resultType="board">
		select
		board_no,
		title,
		content,
		writer,
		view_count,
		creation_date,
		image
		from
		tb1_board
		where
		board_no = #{boardNo}
	</select>

	<select id="selectListPaging" resultType="board"
		parameterType="com.yedam.common.SearchDTO">
		select c.*
		from(
		select rownum rn, b.*
		from (select *
		from tb1_board
		where
		<choose>
			<when test='searchChondition == "T" '>
				title like '%'||#{keyword}||'%'
			</when>
			<when test='searchChondition == "W" '>
				writer like '%'||#{keyword}||'%'
			</when>
			<otherwise>
				title like '%'||#{keyword}||'%' or writer like
				'%'||#{keyword}||'%'
			</otherwise>
		</choose>
		order by board_no desc) b
		          <![CDATA[
		          where rownum <= #{page} * 5) c
		          ]]>
		where c.rn > (#{page} -1 ) * 5
	</select>

	<select id="selectCount" resultType="int" parameterType="com.yedam.common.SearchDTO">
		select count(1)
		from tb1_board
		where
		<choose>
			<when test='searchChondition == "T" '>
				title like '%'||#{keyword}||'%'
			</when>
			<when test='searchChondition == "W" '>
				writer like '%'||#{keyword}||'%'
			</when>
			<otherwise>
				title like '%'||#{keyword}||'%' or writer like'%'||#{keyword}||'%'
			</otherwise>
		</choose>
	</select>
</mapper>