<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.mapper.ReplyMapper">

	<select id="selectList" parameterType="int">
		select reply_no,
		replyer,
		reply,
		board_no,
		reply_date
		from tb1_reply
		where board_no = #{bno}
		order by
		reply_no
	</select>

	<select id="selectListPageing"
		parameterType="com.yedam.common.SearchDTO">
		select b.*
		from (
		select /* INDEX (r PK_REPLY) */ rownum rn, r.*
		from
		tb1_reply r
		where board_no = #{boardNo}) b
		<![CDATA[
		where b.rn <= #{page} * 5
		]]>
		and b.rn > (#{page} -1) * 5

	</select>

	<delete id="deleteReply" parameterType="int">
		delete from tb1_reply
		where reply_no = #{rno}
	</delete>

	<select id="selectKey" resultType="int">
		select reply_seq.nextval
		from
		dual
	</select>

	<insert id="insertReply" parameterType="com.yedam.vo.ReplyVO">
		insert into tb1_reply
		(reply_no, replyer, reply, board_no)
		values (#{replyNo}, #{replyer},
		#{reply}, #{boardNo})
	</insert>

	<select id="selectReplyCount" parameterType="int">
		select count(1)
		from
		tb1_reply
		where board_no = #{bno}
	</select>

	<select id="selectEvent" useCache="false" resultType="map">
		select
		title as "title",
		start_date as "start",
		end_date as "end"
		from
		tb1_calendar
	</select>

	<insert id="insertEvent"
		parameterType="com.yedam.common.SearchDTO">
		insert into tb1_calendar values(#{title}, #{start},
		#{end})
	</insert>

	<delete id="deleteEvent">
		delete from tb1_calendar
		where title = #{title}
		and
		start_date = #{start}
		and end_date = #{end}
	</delete>

	<select id="countRerWriter" resultType="map">
		select m.member_name as "memberName",
	 	       writer        as "memberId", 
	 	       count(1)      as "cnt"
		from tb1_board b
		join tb1_member m
		on b.writer = m.member_id
		group by writer, m.member_name
	</select>


	<!-- <delete id="deleteReplys" parameterType="String"> delete from tb1_reply 
		where reply_no in <foreach collection="array" item="reply" open="( " separator 
		= ",", </foreach> </delete> -->
</mapper>